.main {
    width: 50%;
    color: #fff;
    padding-bottom: 10vh;

    .about {
        padding-top: 15vh;

        p {
            width: 80%;
            margin: 0;
            margin-bottom: 10px;
            color: rgb(195, 208, 224);
            font-weight: 300;
            letter-spacing: 1px;
            font-size: 1rem;
            line-height: 1.5rem;
            font-family: "Inter", sans-serif;
        }
    }

    .projects {
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .certificates {
        padding-top: 20vh;
        padding-bottom: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
    }
}